PORT=5000
MONGO_URI=mongodb+srv://25bcyc46_db_user:GjqSBtOyKjy2iNaq@cluster0.ox0z6q5.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:3000
